<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Member area</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
 
    </div>
    <button class="button button-full" ng-click="showScan()">Scansione</button>
    <button class="button button-full" ng-click="showGallery()">Galleria</button>
    <button class="button button-full" ng-click="showProfilo()">Profilo</button>


    <button class="button button-full button-assertive" ng-click="destroySession()">
      Destroy token
    </button>

  </ion-content>
</ion-view>