<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Member area</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <div style="height:50px;"></div>
    <button class="button button-full" ng-click="showOldScan()">Scansioni</button>
    <button class="button button-full" ng-click="showNewMole()">Nuova Scansione</button>
    <button class="button button-full" ng-click="showHome()">Return to Home</button>


  </ion-content>
</ion-view>